body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}


form button.new-promotion,
a.new-promotion {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
}

form button.new-promotion:hover,
a.new-promotion:hover {
 
    background-color: #0069d9;
    border-color: #0062cc;
}



form button.new-promotion,
a.edit-promotion {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
}

form button.new-promotion:hover,
a.edit-promotion:hover {
 
    background-color: #0069d9;
    border-color: #0062cc;
}

h2 {
    color: #555;
    text-align: center;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #fff;
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

ul li strong {
    font-size: 1.2em;
    color: #333;
}

ul li:not(:empty) {
    background-color: #f8f9fa;
}

ul li:not(:empty):nth-of-type(odd) {
    background-color: #ffffff;
}