<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Status ändern</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'templates/management/static/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Status ändern für Tisch {{ table.table_number }}</h1>
        <form action="{% url 'change_status' table.id %}" method="post">
            {% csrf_token %}
            <select name="status">
                <option value="Frei">Frei</option>
                <option value="Reserviert">Reserviert</option>
                <option value="Außer Betrieb">Außer Betrieb</option>
            </select>
            <button type="submit" class="btn btn-primary">Status ändern</button>
        </form>
    </div>
</body>
</html>
