{% extends 'base.html' %}

{% block title %}Seat plan{% endblock %}

{% block content %}
<div class="container">
    <h1>Seat plan</h1>
    <table>
        <thead>
            <tr>
                <th>Table number</th>
                <th>Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Party size</th>
                <th>Special requests</th>
            </tr>
        </thead>
        <tbody>
            {% for table, guests in tables_with_guests.items %}
                {% for guest in guests %}
                    <tr>
                        <td>{{ table.table_number }}</td>
                        <td>{{ guest.guest_name }}</td>
                        <td>{{ guest.reservation_date }}</td>
                        <td>{{ guest.reservation_time }}</td>
                        <td>{{ guest.guest_count }}</td>
                        <td>{{ guest.special_requests }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

