{% extends 'base.html' %}

{% block title %}Table list{% endblock %}

{% block content %}
<div class="container">
    <h1>Table list</h1>
    <table>
        <thead>
            <tr>
                <th>Table number</th>
                <th>Capacity</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for table in tables %}
                <tr>
                    <td>{{ table.table_number }}</td>
                    <td>{{ table.capacity }}</td>
                    <td>{{ table.status }}</td>
                    <td>
                        <form action="{% url 'change_status' table.id %}" method="post">
                            {% csrf_token %}
                            <select name="status">
                                <option value="Frei">Free</option>
                                <option value="Reserviert">Blocked</option>
                                <option value="Außer Betrieb">Not usable</option>
                            </select>
                            <button type="submit" class="btn btn-primary">Change status</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

<!--
<style>
      
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        border: 2px solid #ddd; 
    }
    th, td {
        border: 2px solid #ddd; 
        padding: 12px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2; 
    }
</style>
-->