    body {
        margin: 0;
        font-family: Helvetica, sans-serif;
        background-color: lightblue;
      /*  background-image: url('https://previews.123rf.com/images/alekseyvanin/alekseyvanin2002/alekseyvanin200200319/140029644-beverages-and-food-icons-pattern-restaurant-food-seamless-background-seamless-pattern-vector.jpg');*/
    }
    .navbar {
        background-color: goldenrod;
        overflow: auto;
    }
    .navbar a {
        float: left;
        display: block;
        color: dimgray;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
        font-weight: bolder;
    }
    .navbar a:hover {
        background-color: lightblue;
    }
    .navbar-right {
        float: right;
    }

    .logout {
        background-color: goldenrod;
        overflow: auto;
        float: right;
        display: block;
        color: dimgray;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
        font-weight: bolder;
    }

    .logout:hover {
         background-color: lightblue; /* Optional: eine leicht sichtbare Umrandung beim Hover */
    }