body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-image: url('https://previews.123rf.com/images/alekseyvanin/alekseyvanin2002/alekseyvanin200200319/140029644-beverages-and-food-icons-pattern-restaurant-food-seamless-background-seamless-pattern-vector.jpg');
}